<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"career-page"} -->
<main class="wp-block-group career-page">
    <!-- wp:vite-child/hero-banner {
        "title":"BuIld the futuRe",
        "highlight":"Of DigitAl groWth",
        "description":"Join the visionaries, creators, and strategists defining the future of digital growth. Your next big challenge starts here.",
        "badge":"WE ARE HIRING",
        "buttonText":"View open roles"
    } /-->
   
    <!-- wp:vite-child/text-4-grid {"align":"full"} /-->
    
    <!-- wp:vite-child/why {"align":"full"} /-->

    <!-- wp:vite-child/ladder {"align":"full"} /-->

  </main>
  <!-- /wp:group -->
  
  <!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
  
