<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<div class="wp-block-group mt-0">
    <!-- wp:vite-child/hero-banner {
        "title":"High-Velocity seo.",
        "highlight":"Creative thAt converts",
        "description":"Outcomes you can measure, growth you can scale.",
        "badge":"Digital Advertising OPC"
    } /-->
    <!-- wp:vite-child/services-stack /-->
    <!-- wp:vite-child/our-works /-->
     <!-- wp:vite-child/our-approach /-->
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
